page-home {
    .heading{
        color:  #FAF4F7;
        text-align:center;
        padding: 25px 0px;
    }

    button.item.item-block.item-ios{
        border-radius: 20px;
    }
    .link-list{
        padding-bottom: 10px;
    }
    
}
